<div class="container">

  <h3>Create Student Record</h3>

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="data.name" placeholder="Enter Name">
  </div>
  <div class="form-group">
    <label for="age">Price</label>
    <input type="number" class="form-control" id="age" [(ngModel)]="data.price" placeholder="Enter Price">
  </div>
  <div class="form-group">
    <label for="address">Quantity</label>
    <input type="number" class="form-control" id="address" [(ngModel)]="data.quantity" placeholder="Enter Quantity">
  </div>
  <button type="submit" class="btn btn-primary" (click)="submitForm()">Add</button>
</div>
